.marquee img {
  width: 20rem;
  height: 20rem;
  margin-right: 2rem;
}

.marquee img :hover {
  transform: scale(1.5);
}
.website-banner {
  width: 25rem;
  height: 25rem;
  background-color: rgb(204, 199, 214);
}
